@import "catppuccin/themes/mocha.css";

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FiraCode Nerd Font;
    font-size: 16px;
}

window#waybar {
    background-color: alpha(@base, 0.5);
    color: @text;
    transition-property: background-color;
    transition-duration: .5s;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#workspaces,
#window,
#submap,
#keyboard-state,
#clock {
    font-family: Noto Sans Regular;
}

#window,
#submap,
#clock {
    font-size: 12px;
}

#submap,
#window,
#clock,
#keyboard-state,
#indicators,
#status {
    margin: 4px;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#wireplumber,
#tray,
#submap {
    padding: 0 8px;
}

#workspaces {
    margin: 4px;
    background-color: @surface0;
    border-radius: 4px;
}
#workspaces button {
    padding: 0 4px;
    border-radius: 0;
}
#workspaces > button:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
#workspaces > button:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
#workspaces button.active {
    background-color: @surface1;
    color: @blue;
}
#workspaces button:hover {
    background: @overlay0;
}
#workspaces button.urgent {
    background-color: @red;
    color: @base;
}

#submap {
    background-color: @green;
    color: @base;
    padding: 0 4px;
    border-radius: 4px;
}

#window {
    margin: 4px;
    padding: 0 10px;
    background-color: alpha(@base, 0.2);
    border-radius: 4px;
}

#keyboard-state {
    background: @surface0;
    color: @subtext0;
    border-radius: 4px;
}

#keyboard-state > label {
    padding: 0 5px;
}
#keyboard-state > label:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
#keyboard-state > label:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

#keyboard-state > label.locked {
    background: @green;
    color: @base;
}

#indicators {
    background-color: @surface0;
    border-radius: 4px;
}

#wireplumber {
    color: @blue;
}

#wireplumber.muted {
    color: @red;
}

#backlight {
    color: @yellow;
}

#status {
    background-color: @surface0;
    border-radius: 4px;
}

#cpu {
    color: @teal;
}

#temperature {
    color: @sapphire;  
}

#temperature.critical {
    background-color: @red;
    color: @crust;
    border-radius: 4px;
}

#memory {
    color: @lavender;
}

#battery {
    color: @yellow;
}

#battery.charging, #battery.plugged {
    color: @green;
}

@keyframes blink {
    to {
        background-color: @red;
        border-radius: 4px;
        color: @base;
    }
}

#battery.critical:not(.charging) {
    color: @red;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#tray {
    margin: 4px;
    background-color: @surface1;
    border-radius: 4px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @red;
}

#clock {
    background-color: @surface1;
    border-radius: 4px;
}
